@using Vista.Data.Enums.Discriminadores;
@using Vista.Data.Models.Otros.Partes;

@*Servicios Utilizados*@
@using Vista.Services
@inject IMessageService message
@inject IParteVehiculoService ParteVehiculoService

<Form Model="@agregarParteVehiculoViewModel"
      Loading="_isLoading"
      Layout="FormLayout.Vertical"
      Class="modal-crear-fuerza-form"
      OnFinish="OnFinish">
    <Row Class="modal-crear-fuerza-row" Gutter="16">
        <FormItem Label="Nombre"
                  Class="modal-crear-fuerza-form-item">
            <AntDesign.Col Span="24">
                <Input @bind-Value="@agregarParteVehiculoViewModel.Nombre"
                       AllowClear Size="InputSize.Large" />
            </AntDesign.Col>
        </FormItem>
    </Row>
    <Row Class="modal-crear-fuerza-row" Gutter="16">
        <AntDesign.Col Span="24">
            <FormItem Label="Tipo de Parte"
                      Class="modal-crear-fuerza-form-item">
                <EnumSelect TEnum="TipoParteVehiculo ?" @bind-Value="@agregarParteVehiculoViewModel.TipoParte" AllowClear Size="InputSize.Large" />
            </FormItem>
        </AntDesign.Col>
    </Row>

    <div class="modal-crear-fuerza-footer">
        <FormItem>
            <Button Type="ButtonType.Primary"
                    HtmlType="submit">
                Agregar Parte del Vehículo
            </Button>
            <Button Style="margin-left: 8px;"
                    OnClick="CancelarAsync"
                    Danger>
                Cancelar
            </Button>
        </FormItem>
    </div>
</Form>

@code {
    [Parameter] public required EventCallback OnCancel { get; set; }

    private AgregarParteVehiculoViewModel agregarParteVehiculoViewModel = new();
    private bool _isLoading = false;

    public class AgregarParteVehiculoViewModel
    {
        public string? Nombre { get; set; }
        public TipoParteVehiculo? TipoParte { get; set; }
    }

    public async Task CancelarAsync()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync(null);
        }
    }

    private async Task OnFinish(EditContext editContext)
    {
        _isLoading = true;

        try
        {
            // Preparamos el modelo para enviar al servicio
            var nuevaParteVehiculo = new ParteVehiculo
            {
                Nombre = agregarParteVehiculoViewModel.Nombre!,
                Tipo = agregarParteVehiculoViewModel.TipoParte!.Value
            };

            // Llamamos al servicio para agregar la nueva parte del vehículo
            await ParteVehiculoService.AgregarParteVehiculoAsync(nuevaParteVehiculo);
            message.Success("Parte del vehículo agregada exitosamente.");
            await CancelarAsync();
        }
        catch (Exception ex)
        {
            message.Error($"Error: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }
}